<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
	security-mapper.xml
	@author jm.lee (DEEP.FINE)
-->
<mapper namespace="go.gg.cms.apps.security">
	<!-- 로그인 조회 -->
	<select id="findByLoginId" parameterType="CmsUser" resultType="CmsUser">
		/* SQL_ID : go.gg.cms.apps.security.findByLoginId */
		<![CDATA[
		SELECT
			u_id.id AS id
			, u_id.login_id AS login_id
			, u_id.login_fail AS login_fail
			, u_id.user_type AS user_type
			, u_id.status AS status
			, u_id.exp_date AS exp_date
			, fn_dec(u_id.name) AS name
			, fn_dec(u_id.email) AS email
			, fn_dec(u_id.mobile) AS mobile
			, u_id.reg_id AS reg_id
			, u_id.reg_date AS reg_date
			, u_group.id AS group_id
			, u_group.group_name AS group_name
			, getFilePath(u_id.profile_file_id) AS profile_photo
		FROM
			tb_user as u_id
		LEFT OUTER JOIN tb_user_group as u_group
		ON u_id.group_id = u_group.id
		]]>
		<where>
			u_id.status <![CDATA[<>]]> 'REMOVED'
			AND u_id.id = #{id}::UUID
		</where>
		LIMIT 1
	</select>
</mapper>